//---------------------------------------------------------------------------
//
// Name:        VentanaAplicacionApp.rc
// Author:      user
// Created:     11/7/2014 9:29:58 PM
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
